* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 20px 20px 0 0;
  padding: 20px 50px;
}

#dropDownBtn__content {
  padding: 10px 50px;
  background-color: grey;
  border-radius: 0 0 20px 20px;
}

#dropDownBtn__content {
  height: 0px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 1s;
  transition-timing-function: ease;
  display: block;
  overflow: hidden;
}