$spacing-unit: 40px;
$small-spacing: 20px;
$extra-small-spacing: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  max-width: 1270px;
  height: 700px;
  border: 1px solid black;
}

//在需要grid的块内display:grid。
//也就是说可以在小部分的地方设置块
.content {
  //   columns: 12;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aqua;
}
